<div class="jumbotron">
  <h2 class="text-center">Contact</h2>
</div>
<div class="container">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus assumenda, atque beatae cumque dignissimos eligendi eos hic id incidunt ipsam ipsum iste maxime, nemo nesciunt odio recusandae sed tenetur!</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus assumenda, atque beatae cumque dignissimos eligendi eos hic id incidunt ipsam ipsum iste maxime, nemo nesciunt odio recusandae sed tenetur!</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus assumenda, atque beatae cumque dignissimos eligendi eos hic id incidunt ipsam ipsum iste maxime, nemo nesciunt odio recusandae sed tenetur!</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus assumenda, atque beatae cumque dignissimos eligendi eos hic id incidunt ipsam ipsum iste maxime, nemo nesciunt odio recusandae sed tenetur!</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus assumenda, atque beatae cumque dignissimos eligendi eos hic id incidunt ipsam ipsum iste maxime, nemo nesciunt odio recusandae sed tenetur!</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus assumenda, atque beatae cumque dignissimos eligendi eos hic id incidunt ipsam ipsum iste maxime, nemo nesciunt odio recusandae sed tenetur!</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus assumenda, atque beatae cumque dignissimos eligendi eos hic id incidunt ipsam ipsum iste maxime, nemo nesciunt odio recusandae sed tenetur!</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus assumenda, atque beatae cumque dignissimos eligendi eos hic id incidunt ipsam ipsum iste maxime, nemo nesciunt odio recusandae sed tenetur!</p>
</div>
