<div class="jumbotron">
  <h2 class="text-center">Home</h2>
</div>
<div class="container">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus, libero sunt! At, consectetur, distinctio enim et excepturi expedita facere nam natus nisi nostrum quidem reprehenderit similique sint, ullam vel veniam?</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus, libero sunt! At, consectetur, distinctio enim et excepturi expedita facere nam natus nisi nostrum quidem reprehenderit similique sint, ullam vel veniam?</p>
  <div class="panel panel-default">
    <div class="panel-heading">Panel heading without title</div>
    <div class="panel-body">
      Panel content
    </div>
  </div>
</div>
